@import '~/GlobalStyle/_mixins.scss';

:local(.wrapper-action-header) {
    display: flex;
    align-items: center;

    .avatar {
        position: relative;
        margin-left: 24px;
        width: 32px;
        height: 32px;
        background-size: cover;
        border-radius: 50%;
        cursor: pointer;
    }

    .border-top {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}
