:local(.wrapper-menu) {
    header {
        display: flex;
        align-items: center;
        position: relative;
        height: 50px;
        svg {
            margin-left: 28px;
        }

        .title {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .btn-back:hover {
            cursor: pointer;
        }
    }

    .wrapper-render-menu {
        overflow-y: auto;
        max-height: 590px;
    }
}
