$full-width: 100vw;
$white-color-rgba: rgba(255, 255, 255, 1);
$primary-color-rgba: rgba(254, 44, 85, 1);
$default-layout-width: 1150px;
$default-layout-header-height: 60px;
$default-layout-header-search-width: 361px;
$default-layout-header-search-height: 46px;
$default-layout-header-search-border-color: 1px solid rgba(22, 24, 35, 0.2);
$default-layout-header-search-border-radius: 92px;
$default-layout-header-search-input-width: 431px;
$default-layout-header-search-input-text-color: rgba(22, 24, 35, 1);
$default-layout-header-search-input-caret-color: rgb(254, 44, 85);
$default-layout-header-search-bg-color: rgba(22, 24, 35, 0.06);
$side-bar-width: 356px;
